Use the logistic_regression.csv file. 
Build a logistic regression model& KNN model by using three columns: Gender, Age, Estimated Salary 
    and
to predict the Purchased column. Print the accuracy.

In [23]:
import pandas as pd

In [24]:
data= pd.read_csv(r'G:\Python\insideAIML\logistic_regression.csv')

In [25]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [26]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [27]:
data.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [28]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1].values

In [29]:
res = pd.get_dummies(x['Gender'], drop_first=True)
res
x = x.drop('Gender', axis=1)

In [31]:
x.head()

    User ID  Age  EstimatedSalary
0  15624510   19            19000
1  15810944   35            20000
2  15668575   26            43000
3  15603246   27            57000
4  15804002   19            76000

In [32]:
x = pd.concat((x,res), axis=1)

In [33]:
x.head()

    User ID  Age  EstimatedSalary  Male
0  15624510   19            19000     1
1  15810944   35            20000     1
2  15668575   26            43000     0
3  15603246   27            57000     0
4  15804002   19            76000     1

### Using Logistic Regrtession

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train, y_test = train_test_split(x, y , test_size = 0.25,
                                                 random_state = 0)

In [73]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
sc = StandardScaler()
Mm = MinMaxScaler()

In [74]:
x_train = sc.fit_transform(x_train)  # applied standard scaler
x_test = sc.transform(x_test)

In [75]:
from sklearn.linear_model import LogisticRegression

In [76]:
lreg = LogisticRegression()
lreg.fit(x_train, y_train)

LogisticRegression()

In [77]:
y_pred = lreg.predict(x_test)

In [78]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [79]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [80]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [81]:
confusion_matrix(y_test,y_pred)

array([[66,  2],
       [ 8, 24]], dtype=int64)

In [82]:
accuracy_score(y_test,y_pred)*100

90.0

### Using KNN

In [84]:
from sklearn.neighbors import KNeighborsClassifier

In [85]:
knn = KNeighborsClassifier(n_neighbors=5)

In [86]:
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [87]:
y_pred = knn.predict(x_test)

In [88]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [89]:
confusion_matrix(y_test,y_pred)

array([[65,  3],
       [ 4, 28]], dtype=int64)

In [90]:
accuracy_score(y_test,y_pred)*100

93.0